// ==============================
// Custom style
// ==============================

.header-logo,
.home-title,
.home-subtitle,
.menu,
.footer,
.breadcrumbs,
.toc,
.tag-cloud-tags,
.post-meta-line {
    font-family: 'Cousine', monospace;
    font-size: 95%;
}

.single-title,
.categories-card,
.group-title-year, .group-title-month, .archive-item, .archive-item-date,
.post-tag-summary,
.summary-post-meta {
    font-family: 'Cousine', monospace;
}

// ================================
// Override gist markdown embed color
// ================================

.gist .gist-data {
    background-color: #ECECF0 !important;
}

.gist {
    color: #000;
}

[theme=dark] {
    .gist .gist-data {
        background-color: #272C34 !important;
    }
    .gist {
        color: #ddd;
    }
    .gist .gist-meta {
        color: #d8d8d8;
    }
}